.footer {
  background-color: #f5f6f8;
  font-family: "Bai Jamjuree", sans-serif;
  padding: 50px 0;
}
.footer .app-logo {
  width: 58px;
  height: 58px;
  background-image: url(../../images/logo.svg);
}

.footer ul {
  grid-template-columns: 1fr;
  place-items: center;
  row-gap: 38px;
  color: var(--dark-grayish-blue-neutral);
}

.footer ul svg path {
  fill: #4c545c;
}
.footer .social-networks a:not(:last-child) {
  margin-right: 40px;
}
.footer ul a:hover {
  color: var(--strong-cyan-primary);
}
.footer ul a:hover svg path {
  fill: var(--strong-cyan-primary);
}

@media screen and (min-width: 1024px) {
  .footer ul {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto auto;
    place-items: flex-start;
    row-gap: 26px;
    padding: 42px 164px;
  }
  .footer ul li:first-child {
    grid-row: span 2;
  }
  .footer ul li:nth-child(3) {
    grid-column-start: 2;
    grid-row-start: 2;
  }
  .footer ul li:nth-child(5) {
    grid-column-start: 3;
    grid-row-start: 2;
  }
}

@media screen and (min-width: 1280px) {
  .footer ul {
    grid-template-columns: 193px repeat(3, 116px) 1fr;
    grid-template-rows: auto auto;
    place-items: flex-start;
    row-gap: 26px;
    column-gap: 66px;
    padding: 42px 164px;
  }
  .social-networks {
    justify-content: flex-end;
  }
}
